<head>
    <meta charset="UTF-8">
    <title>DigiDiner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <header class="px-3 py-4 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="../../public/images/logoCloseup.png" role="img" alt="LogoClose" width="40" height="32">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="dropdown">
                        <a href="#"
                            class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="bi bi-card-list" width="24" height="24" role="img" aria-label="Menu">
                                <use xlink:href="#card-list" />
                            </svg>
                            Menu
                        </a>
                        <ul class="dropdown-menu test-small shadow" aria-labelledby="menuDropdown">
                            <li><a class="dropdown-item" href="#">Lunch Menu</a></li>
                            <li><a class="dropdown-item" href="#">Dinner Menu</a></li>
                            <li><a class="dropdown-item" href="#">Drink Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-2 text-white">
                            <svg class="bi bi-cart-check-fill" width="24" height="24" role="img" aria-label="Cart">
                                <use xlink:href="#cart-check-fill" />
                            </svg>
                            Cart
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <script src="/js/bootstrap.min.js"></script>
</body>