<div class="container text-bg-dark">
    <footer class="py-3 my-4 text-center bg-light">
        <img src="images/logoCloseup.png" alt="LogoClose" width="100" height="84" class="mx-auto">
        <p class="text-center text-body-secondary">&copy; 2023 DigiDiner. All rights reserved.</p>
    </footer>
</div>