<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>DigiDiner</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<%- include('partials/base') %>
		<h1>DigiDiner Home Page</h1>
		<p>Database Status: <%= dbStatus %>
		</p>
		<% if (locals.error) { %>
			<p>
				<%= error %>
			</p>
			<% } %>

				<script src="/js/bootstrap.min.js"></script>
				<script src="/js/style.js"></script>

</body>

</html>