<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DigiDiner</title>
	</head>
	<body>
		<h1>DigiDiner Home Page</h1>
		<p>Database Status: <%= dbStatus %></p>
		<% if (error) { %><p><%= error %></p><% } %>
	</body>
</html>
