<!DOCTYPE html>
<html lang="en">
<%- include('partials/base') %>
	<footer>
		<p>System: <%= dbStatus %>
		</p>
		<% if (locals.error) { %>
			<p>
				<%= error %>
			</p>
			<% } %>

	</footer>

</html>