<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DigiDiner</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <style>
            .nav-link {
                font-size: 1.2rem;
            }

            .nav-link.active {
                background-color: #e3f2fd;
            }

            header {
                box-shadow: 0 2px 4px rgba(84, 84, 84, 0.1);
            }

            footer {
                background-color: #f8f9fa;
                /* Solid color for the footer */
                padding: 20px 0;
                /* Adjust padding as needed */
                color: #6c757d;
                /* Text color */
                text-align: center;
            }
        </style>
    </head>

    <body>
        <header>
            <%- include('partials/head') %>
        </header>

        <main>
            <%- include('partials/menu') %>
        </main>

        <footer>
            <%- include('partials/footer') %>
        </footer>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>