<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DigiDiner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="../routes/menu.js"></script>
</head>

<body>

<button id="fetchDataButton">Fetch Menu Data</button>"

<!--    <header>-->
<!--        <%- include('partials/head') %>-->
<!--    </header>-->
<!--    <main>-->
<!--        <%- include('partials/menu') %>-->
<!--    </main>-->
<!--    <footer>-->
<!--        <%- include('partials/footer') %>-->
<!--    </footer>-->
<!--    <script src="/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>