<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DigiDiner</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        @media (max-width: 576px) {
            body {
                padding-top: 60px;
            }

            main {
                padding-bottom: 20px;
            }

            p#description {
                margin-bottom: 20px;
            }

            div#button-container {
                margin-bottom: 20px;
            }
        }

        .nav-link {
            color: white;
            font-size: 25px;
        }
    </style>
</head>

<body>
    <div class="container-fluid cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-bg-dark">
        <header class="mb-auto text-center">
            <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a id="profileNavLink" class="nav-link fw-bold px-3" aria-current="page" href="/profile">Profile</a>
                    <a id="clockNavLink" class="nav-link fw-bold px-3" href="/clock">Clock</a>
                    <a id="queueNavLink" class="nav-link fw-bold px-3" href="/queue">Orders</a>
                    <a id="inventoryNavLink" class="nav-link fw-bold px-3" href="/inventory">Inventory</a>
                    <a id="floormapNavLink" class="nav-link fw-bold px-3" href="/floormap">Floor Map</a>
                </nav>
            </div>
        </header>

        <main class="px-3 d-flex flex-column h-100 align-items-center">
            <div class="col-8 col-sm-6 col-md-4 text-center my-3">
                <img src="/images/profile.png" alt="Profile Picture" class="img-fluid rounded-circle mb-3">
            </div>
            <br><br>
            <h1 class="text-center mt-3 mb-3">Welcome, <span id="firstName"></span> <span id="lastName"></span></h1>
            <div class="text-center">
                <p class="lead">User ID: <span id="employeeId"></span></p>
                <p class="lead">Position: <span id="position"></span></p>
            </div>
            <p class="position-md-absolute top-0 start-0 m-3">Hire Date: <span id="hireDate"></span></p>
            <br>
            <p id="description" class=" text-center lead mt-4 mb-4">This is your personal employee portal.
                <br>
                Here you can find all your employee information such as benefits, employment paperwork, statistics,
                paystubs, and the employee handbook.
                <br><br>
            </p>
            <div id="button-container" class="text-center">
                <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Information Portal</a>
                <br><br>
            </div>
        </main>
        <footer>
            <%- include('partials/footer') %>
        </footer>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        // Function to retrieve the signed-in employee information from the server
        async function getSignedInEmployee() {
            try {
                const response = await fetch('/api/common/employee', {
                    method: 'GET',
                });

                if (response.ok) {
                    const employee = await response.json();
                    return employee;
                } else {
                    console.error('Failed to retrieve signed-in employee:', response.status);
                    return null;
                }
            } catch (error) {
                console.error('Error retrieving signed-in employee:', error);
                return null;
            }
        }

        // Function to update the session nav links' hrefs with the employee ID
        async function updateSessionNavLinks() {
            const employee = await getSignedInEmployee();
            if (employee) {
                const firstNameElement = document.getElementById('firstName');
                firstNameElement.textContent = employee.nameFirst;
                const lastNameElement = document.getElementById('lastName');
                lastNameElement.textContent = employee.nameLast;
                const employeeIdElement = document.getElementById('employeeId');
                employeeIdElement.textContent = employee.id;
                const positionElement = document.getElementById('position');
                positionElement.textContent = employee.position;
                const hireDateElement = document.getElementById('hireDate');
                hireDateElement.textContent = employee.hireDate;
            }
        }

        // Call the function to update the session nav links
        updateSessionNavLinks();
    </script>
</body>

</html>